/** test.css: 
 a file to integrate into newer templates
 */
/** Link to file:
 <link rel="stylesheet" href="{{ theme_url }}/css/test.css" type="text/css" /> */

.main-home {
  padding: 85px;
  /* background-color: red; */
}


/** darker earthy-orange color for contrast = #f35000 */
/* text-shadow: 10px 5px 5px black; */
/* text-shadow: 10px 5px 5px white;
text-shadow: 1rem 1rem white; */

h1,
h2 {
  font-family: fantasy;
  font-size: 5rem !important;
  letter-spacing: 0.05em;
  line-height: 1.15em;
  word-break: break-word;
  text-shadow: 1rem 1rem white;
}

.no-shadow {
  text-shadow: none;
}

.header h1 {
  font-size: 2em !important;
  font-family: 'Lato', sans-serif;
  line-height: 0 !important;

}

/* implementing lines design element */
.p1 {
  font-size: 3rem;
  line-height: 1em;
  letter-spacing: normal;
}


.p2 {
  font-size: 2.5rem;
  line-height: 1em;
  letter-spacing: normal;
}

.p3 {
  font-size: 2rem;
  line-height: 1em;
  letter-spacing: normal;
}

.p1:hover {
  color: #f35000;
}
.p2:hover {
  color: #f35000;
}
.p3:hover {
  color: #f35000;
}
/* implementing lines design element */

.hero {
  margin: 25px auto;
  display: flex;
  width: 255px;
}

.hero:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 1rem 1rem #f35000;

}

/* implementing lines design element */
/* lines , scaleing, hierarchy */

@media (max-width: 767px) {
  .image-section {
    display: none;
  }

  .p1.p2.p3 {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  .main-home {
    padding: 25px !important;
  }

  /* .hero {
    display: block !important;
  } */
}














/* .landingpage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;

  border: 1px dotted orangered;
  gap: 20px;
  padding: 20px;
}

.landingpage h1 {
  grid-row: 1;
  grid-column: span 3;
  color: teal;
  justify-self: center;
}

.box {
  background-color: #f4f4f4;
  padding: 15px;
  border: 5px solid black;
  text-align: start;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  font-size: 2rem;
  font-weight: 600;
  height: 150px;
}

.box:nth-child(3n + 1) {
  background-color: #a1d6b2;
}

.box:nth-child(3n + 2) {
  background-color: #c9e6f0;
}

.box:nth-child(3n) {
  background-color: #f96e2a;
}

.box-1a {
  grid-column: span 3;
  grid-row: 2;
  text-align: center;

}

.box-2a {
  grid-column: span 3;
  grid-row: 3;
  text-align: center;

}

.box-3a {
  grid-column: span 3;
  grid-row: 4;
  text-align: center;
}
.box.wide-a {
  grid-column: span 3;
 grid-auto-rows: auto;
} */

/* technology/sub/.md Layout */

/* .subpage-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    border: 1px dotted orangered;
    gap: 20px;
    padding: 20px;
} */

/* Content for Sub-Pages */
/* .subpage-content {
    grid-column: 2 / span 2;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

/* Sidebar for Sub-Pages */
/* .subpage-sidebar {
    max-width: 250px;
    background: #a6d7eb;
    padding: 15px;
    border-radius: 8px;
}

.subpage-sidebar ul {
    list-style-type: none;
    padding: 0;
}

.subpage-sidebar li {
    margin-bottom: 10px;
}

.subpage-sidebar li a {
    text-decoration: none;
    color: #333;
} */

/*

@media (max-width: 767px) {
    .subpage-layout {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-flow: column;
        border: 1px dotted orangered;
        gap: 20px;
        padding: 20px;
    }

    .subpage-sidebar {
        grid-row: 1;
        grid-column: span 2;
        background: #a6d7eb;
        padding: 15px;
        border-radius: 8px;
    max-width:none;

    }

    .subpage-content {
        grid-column: span 2;
        grid-row: 2;
        background: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
    }
} */

/** Gallery css starts*/

/* 
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  justify-items: center;
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .grid-video {
    grid-column: span 1 !important;
    width: 100%;
  }
}

.gallery img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;

  border: 2px solid black;
  border-radius: 15px;

}
.grid-video {
  width: 100%;
  height: 100%;
  grid-column: span 3;
  grid-row: span 20;
  border: 2px solid black;
  border-radius: 15px;
  overflow: hidden;
  background-color: lightgray;
}

.grid-video iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.gallery img:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease, background-color 0.3s ease;
} */