/** test.css: 
 a file to integrate into newer templates
 */
/** Link to file:
 <link rel="stylesheet" href="{{ theme_url }}/css/test.css" type="text/css" /> */

.main-home {
  padding: 85px;
  /* background-color: red; */
}


/** darker earthy-orange color for contrast = #f35000 */
/* text-shadow: 10px 5px 5px black; */
/* text-shadow: 10px 5px 5px white;
text-shadow: 1rem 1rem white; */

h1,
h2 {
  font-family: fantasy;
  font-size: 5rem !important;
  letter-spacing: 0.05em;
  line-height: 1.15em;
  word-break: break-word;
  /* text-shadow: 2px 2px white; */
}

.no-shadow {
  text-shadow: none;
}

.header h1 {
  font-size: 2em !important;
  font-family: 'Lato', sans-serif;
  line-height: 0 !important;

}

/* implementing lines design element */
.p1 {
  font-size: 3rem;
  line-height: 1em;
  letter-spacing: normal;
}


.p2 {
  font-size: 2.5rem;
  line-height: 1em;
  letter-spacing: normal;
}

.p3 {
  font-size: 2rem;
  line-height: 1em;
  letter-spacing: normal;
}

.p1:hover {
  cursor: pointer;
  color: #1a1b41;
}

.p2:hover {
  cursor: pointer;
  color: #1a1b41;
}

.p3:hover {
  color: #1a1b41;
  cursor: pointer;
}

/* implementing lines design element */

.hero {
  margin: 25px auto;
  display: flex;
  width: 255px;
}

.hero:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 1rem 1rem #f35000;
}

/* implementing lines design element */
/* lines , scaleing, hierarchy */

@media (max-width: 767px) {
  .image-section {
    display: none;
  }

  .p1.p2.p3 {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  .main-home {
    padding: 25px !important;
  }


}

/* advocate byrå designings */

.contactlayout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  gap: 20px;
  padding: 20px;
  font-size: 1.25rem;
  /* font-weight: 600; */
}

.part {
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  font-size: 2rem;
  font-weight: 600;
  gap: 25px;
  align-items: center;
  object-fit: contain;
}

.soft-img{
border-radius: 15px;
}

/* .container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 25px;
  transform: scale(0.8);
  transform-origin: top;
} */



.img-1 {
  max-width: 35%;
  object-fit: fill;
}
*{
  line-height: 2.5rem;
}
.borders {
  padding: 25px;
  border: 6px dotted #1a1b41;

}
.soft-borders {
  padding: 15px;
  border: 6px dotted #1a1b41;
  border-radius: 25px;
}
.three-d:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 1rem 1rem #1a1b41;
  transform: scale(1.04);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

@media (max-width: 786px) {

  .contactlayout {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  background-image: url("../../../assets/img/banner.jpg") !important;
  object-fit: contain;
  background: center;
  /* filter: sepia(100%) saturate(200%) brightness(70%) hue-rotate(330deg); */
}
.about-container{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  background-image: url("../../../assets/img/law4.jpg") !important;
  object-fit: contain;
  background: center;
}

.responsive-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
  max-height: 80vh;
  margin-bottom: 25px;

}

.responsive-image img {
  border: 4px solid #fff;
  border-radius: 15px;
  max-width: 90%; /* Limits image size on larger screens */
  height: auto; /* Maintains aspect ratio */
  margin: 0 auto;
}
