$font-color: #000;
$font-alternative-color: #fff;
// $accent-color: #f35000;
$accent-color: #ee6c4d;
$background-alternative-color: #cedf9f;

$header-bg-color: #cedf9f;
$footer-bg-color: #c9e6f0;
$background-color: #fbf8ef;
// $earthy-font: #f96e2a;
$earthy-font: #f35000;
$dark-green: #a1d6b2;

// * Blue theme palete
// color {
//     background-color: #78B3CE; /*blue-dark*/
//     background-color: #C9E6F0; /*blue-light*/
//     background-color: #FBF8EF; /*orange light*/
//     background-color: #F96E2A; /*orange dark*/
// }

// * Greenish-earthy theme palete
// color {
//     background-color: #A1D6B2; /*dark-green*/
//     background-color: #CEDF9F; /*light-green*/
//     background-color: #F1F3C2; /*lighter-green*/
//     background-color: #E8B86D; /*earthy*/
// }
