// Dark Theme Variables
$font-color-d: #e0e0e0; // Light Grey for general text
$font-alternative-color-d: #fafafa; // Almost White for headings or prominent text
$accent-color-d: #ff7043; // Warm Red-Orange for accents like buttons or links
$background-alternative-color-d: #81d4fa; // Soft Blue for links and highlights

$header-bg-color-d: #292929; // Dark Grey for header background
$footer-bg-color-d: #333; // Slightly lighter Dark Grey for footer background
$background-color-d: #3a3a3a; // Deep Black/Grey for the main background
// $earthy-font-d: #f96e2a;  // Warm Earthy Orange for specific elements or accents
$earthy-font-d: #f35000; // Warm Earthy Orange for specific elements or accents
$dark-green-d: #f35000;


// * Blue theme palete
// color {
//     background-color: #78B3CE; /*blue-dark*/
//     background-color: #C9E6F0; /*blue-light*/
//     background-color: #FBF8EF; /*orange light*/
//     background-color: #F96E2A; /*orange dark*/
// }

// * Greenish-earthy theme palete
// color {
//     background-color: #A1D6B2; /*dark-green*/
//     background-color: #CEDF9F; /*light-green*/
//     background-color: #F1F3C2; /*lighter-green*/
//     background-color: #E8B86D; /*earthy*/
// }
